.center{
    text-align: center;
    overflow: hidden;
}

#colorwhite{
    color:white;
}

#colorgold{
    color: rgb(255, 230, 0);
}

#colordarkgrey {
    background-color: rgb(49, 49, 49);
}

.rounded{
    border-radius: 25px;
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 1em; 
    margin-right: 2em;
    margin-left: 2em;
    width: auto;
    /* height: 150px;   */
 }

.header{
    border: 5em;
    border-color: black;
    height: 100px;
    width: auto;
    background-color: azure;
}

#bglightorange {
    background: rgb(255, 210, 127); 
  }

#bglightblue {
    background: rgb(154, 255, 255);
}

#bglightpurple {
    background: #c68fcc;
}



body {
    background: rgb(65, 65, 65);
}

.center {
    align-content: center;
}

.underline {
    text-decoration: underline;
}